@font-face {
  font-family: 'iranyekan';
  src: url('../font/Yekan.ttf') format("ttf");
  src: url('../font/Yekan.svg') format("svg"),
      url('../font/Yekan.woff2') format("woff2"),
      url('../font/Yekan.woff') format("woff"),
      url('../font/Yekan.eot') format("eot");
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ob65xh');
  src:  url('fonts/icomoon.eot?ob65xh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ob65xh') format('truetype'),
    url('fonts/icomoon.woff?ob65xh') format('woff'),
    url('fonts/icomoon.svg?ob65xh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chronometer:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e900";
}
.icon-mail-envelope-closed:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e986";
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* begin main */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 90%;
}
/* end maain */

/* begin main_top */
.logo{
  height: 100px;
  width: 70%;
}
h2{
  font-size: 15px;
  text-align: center;
  color: rgb(52, 51, 51);
}
.main_top{
  margin-top: 40px;
}
/* end main_top */

/* begin contant */
.contant{
  display: flex;
  flex-direction: column;
}
/* end contant */

/* begin main_right */
.main_right{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.input1{
  border: 1px solid rgb(237, 228, 228);
  font-size: 10px;
  margin-top: 10px; 
  border-radius: 30px;
  margin-bottom: 1rem;
  width: 100%!important;
  height: 42px;
  padding: 0 1rem;
  background: #fff;
  
}
.input2{
  border: 1px solid rgb(237, 228, 228);
  font-size: 10px;
  margin-top: 10px; 
  border-radius: 30px;
  margin-bottom: 1rem;
  width: 100%!important;
  height: 42px;
  padding: 0 1rem;
  background: #fff;
}
.input3{
  border: 1px solid rgb(237, 228, 228);
  font-size: 10px;
  margin-top: 10px; 
  border-radius: 30px;
  margin-bottom: 1rem;
  width: 100%!important;
  height: 42px;
  padding: 0 1rem;
  background: #fff;
}
.input4{
  border: 1px solid rgb(237, 228, 228);
  font-size: 10px;
  margin-top: 10px; 
  border-radius: 30px;
  margin-bottom: 1rem;
  width: 100%!important;
  height: 42px;
  padding: 0 1rem;
  background: #fff;
}
.input5{
  border: 1px solid rgb(237, 228, 228);
  font-size: 10px;
  margin-top: 10px;
  width: 100%!important;
  padding: 1rem;
  height: 150px;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 1rem;

}
.send{
  width: 100%!important;
  height: 40px;
  padding: 0.7rem 2rem;
  display: inline-block;
  color: #fff;
  border-radius: 2rem;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
}
/* end main_right */

/*begin main left  */
.contant1{
  margin-top: 10px;
}
.contant{
  font-size: 11px;
}
.icon-mail-envelope-closed{
  font-size: 2rem;
}
.icon-chronometer{
  font-size: 2rem;
}
.icon-location{
  font-size: 2rem;
}
.main_left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 10px;
  padding:5px 15px 0 15px;
  height: 170px;
  width: 90%;
  border-radius: 8px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  vertical-align: baseline;
  color: white;
}
.support{
  text-align: left;
}
/* end main left */

/* begin main_button */
.button1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.butoon_2{
  display: flex;
  

}
.padding1{
  background: linear-gradient(to right, #838383, #6e6e6e);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #fff;
  align-items: center!important;
  box-shadow: 0 0 25px #d0d0d0;
  width: 70%;
}
.padding2{
  background: linear-gradient(to right, #838383, #6e6e6e);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #fff;
  align-items: center!important;
  box-shadow: 0 0 25px #d0d0d0;
  width: 100%;
}
.padding3{
  background: linear-gradient(to right, #838383, #6e6e6e);
  padding: 0.7rem 2rem;
  border-radius: 2rem;
  color: #fff;
  align-items: center!important;
  box-shadow: 0 0 25px #d0d0d0;
  width: 100%;
}
/* end main_button */
@media only screen and (min-width: 320px) {
  .contant{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .main_container {
      display: grid;
      width: 90%;
      grid-template-columns: repeat(2, fr);
      grid-template-rows: repeat(3, fr);
      gap: 5rem;
  }
}

@media only screen and (min-width: 1024px) {}


/* end main */


/* begin main.top */



.main_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 768px) {
  .main_top {
      grid-column: 1/3;
      grid-row: 1/2;
  }

  .main_top{
      margin-top: 70px;
    }
    .logo{
      width: 40%;
      height: 200px;
    }
    h2{
      font-size: 2.5rem;
      color: rgb(52, 51, 51);
    }

    .fname {
      display: flex;
      flex-direction: row;
      gap: 50px;
      

    }
    .input1{
      width: 30%;
      
    }
    .input2{
      width: 30%;
    }
    .input3{
      width: 150%;
    }
    .input4{
      width: 150%;
    }
    .send{
      width: 150%;
    }

    .main_left{
      font-size: 1rem;
      height: 250px;
      width: 95%;
      
    }
    .main_button{
      font-size: 2rem;
      color: rgb(52, 51, 51);

    }
    h3{
      font-size: 1rem;
  }
    .padding1{
      font-size: 1rem;
      max-width: 35%;
      height: 50px;
    }
    .padding2{
      font-size: 1rem;
      max-width: 35%;
      height: 50px;
    }
    .padding3{
      font-size: 1rem;
      max-width: 35%;
      height: 50px;
    }
}




/* end maintop */

/* begin main right */


.main_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  
  
  
}

.fname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  

}
button{
  margin-top: 13px;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  border: 1px solid rgb(237, 228, 228);
  border-radius: 20px;
  height: 27px;
  font-size: 10px;
  color: white;
  width: 50%;
}

.main_right button {
  width: 100%;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 768px) {
  .main_right {
      width: 80%;
      grid-column: 1/2;

  }
  .main_left p{
    font-size: 1rem;
  }

  .main_right.button {
      width: 103%;
  }

  .fname {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
  }

  #lname,
  #shname,
  #textarea {
      width: 100%;

  }

  #fname {
      max-width: 45%;
  }
}



@media only screen and (min-width: 1440px) {
  #fname {
      width: 100%;
  }
}

.contant{
  display: flex;
  flex-direction: row;
}
/* end main top */


/* begin main_left */

.contant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}


/* end main_left */

/* begin main_button */

.main_button {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 768px) {
  .main_button {
      grid-column: 1/3;
      grid-row: 3/3;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 30%;
  }

  .butoon_2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
  }
  .contant{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  @media only screen and (min-width: 1024px) {
      .main_left{
        font-size: 1.3rem;
      }
      .main_left p{
        font-size: 1rem;
      }
      .contant{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      .padding1{
          font-size: 1rem;
          max-width: 100%;
          height: 50px;
        }
        .padding2{
          font-size: 1rem;
          max-width: 100%;
          height: 50px;
        }
        .padding3{
          font-size: 1rem;
          max-width: 100%;
          height: 50px;
        }

  }

  @media only screen and (min-width: 1440px){
    .main_left{
      width: 50%;
    }
    .contant{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }