@font-face {
    font-family: 'iranyekan';
    src: url('../../assets/font/Yekan.ttf') format("ttf"),
        url('../../assets/font/Yekan.svg') format("svg"),
        url('../../assets/font/Yekan.woff2') format("woff2"),
        url('../../assets/font/Yekan.woff') format("woff"),
        url('../../assets/font/Yekan.eot') format("eot");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

:root {
    --color-more__information: darkgrey;
    --color-text: #505050;
    --color-text-a-hove: rgba(16, 94, 114, 0.8);
    --color-white: rgb(255, 255, 255);
    font-family: "iranyekan";
}


.body_container {
    width: 100%;

}

/* begin footer-up */
.upper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.75;
    font-size: small;
    font-weight: 300;
    color: var(--color-text);
}

/* begin header */
.d-none {
    display: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-more__information);
}

.upper-footer .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

@media screen and (min-width: 1024px) {
    .upper-footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .border_footer.border.border_1 {
        display: inline-block;
        width: 27%;
    }

    .border_footer.border.border_2 {
        display: inline-block;

    }

    .border_footer.border.border_3 {
        margin-top: 2rem;
    }
}

/* end footer-up end */

/* begin border_footer */

.border_footer.border {
    border: 0.1rem solid var(--color-more__information);
    border-radius: 5rem;
    display: inline-block;
    padding: 2px 7px;
}

.header_container {
    width: 100%;
    height: 300px;
    margin-top: 2rem;

}

@media screen and (min-width: 1024px) {}

.fa-bars {
    border: 1px solid var(--color-more__information);
    ;
    padding: 0.5rem;
    cursor: pointer;
}

.header_mobile {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12rem;
}

@media screen and (min-width: 768px) {
    .header_mobile {
        gap: 30rem;
    }


}

@media screen and (min-width: 1024px) {
    .header_mobile {
        display: none;
    }

    img.img__blogone {
        max-width: 512px;
        max-height: 512px;
    }
}

/* end header_mobile */

/* begin header_pc */


@media screen and (min-width: 320px) {
    .header-pc {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-pc {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header-pc {
        width: 95%;
        display: flex;
        justify-content: space-around;
    }

    .header_item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--color-more__information);
        width: 90%;
    }

    .header_item .icon {
        display: flex;
        gap: 1rem;
        align-self: end;
        color: var(--color-more__information);
    }

    .header_item .contant {
        display: flex;
        gap: 10rem;
        font-size: medium;
        color: var(--color-more__information);
    }

    .header_item a:hover {
        cursor: pointer;
        color: blue;
    }
}

/* begin burger_menu */
.burger_menu {
    margin-right: 2rem;
    margin-top: 2rem;
    width: 86%;
    color: var(--color-more__information);
    line-height: 1.3125;
    font-size: medium;
}

.icon a:hover,
.item a:hover {
    color: blue;
}

hr {
    color: var(--color-more__information);
}

@media screen and (min-width: 1024px) {
    .burger_menu {
        display: none;
    }
}


/* end burger_menu */


/* work sorosh start*/
.blog {
    display: flex;
}

.container__blog {
    font-family: "iranyekan";
    color: var(--color-text);
    margin: auto;
}

.img__margin {
    width: 270px;
    height: 270px;
    border-radius: 8px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

h1 a:hover {
    color: var(--color-text-a-hove);
}

.index__blog h2 {
    font-size: 20px;
    font-weight: 200;
}

.text__blog {
    line-height: 1.75;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-text);
    text-align: justify;
    max-width: 270px;
}

.more__information {
    color: var(--color-more__information);
    border-bottom: 1px solid #505050;
    font-size: 20px;
}

.more__information:hover {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-white);
}

.date {
    display: inline;
    padding-left: 5px;
}

.date:hover a {
    border-bottom: 1px solid var(--color-text);
    width: 50%;
}

i {
    color: lightgrey;
    margin-bottom: 20px;
}

.index__blog h1 {
    max-width: 270px;
    font-family: "iranyekan";
}

.index__blog h2 {

    max-width: 270px;
}

/* work__sorosh end*/
/*cyber start*/

/*cyber end*/

@media only screen and (min-width:768px) {
    .blog {
        display: flex;
        justify-content: center;
    }

    .container__blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

        margin: auto;
        text-align: justify;
    }

    .index__blog h2 {
        max-width: 270px;
    }
}

@media only screen and (min-width:992px) {
    .blog {
        display: flex;
        justify-content: center;

    }

    .container__blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

        margin: auto;
    }

    .index__blog h2 {
        max-width: 270px;
    }
}

@media only screen and (min-width:1024px) {
    .blog {
        display: flex;
        justify-content: center;
    }

    .container__blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

    }

    .index__blog h2 {
        max-width: 270px;
    }

}






.container__blogone {
    margin-top: 2rem;
}

.content__blogone {
    font-family: "iranyekan";
    line-height: 1.75;
    font-size: 16px;
    font-weight: 300;
    width: 84%;
    text-align: justify;
    margin: auto;
    color: var(--color-text);
}

.content__blogone img {
    width: 270px;
    border-radius: 10px;

}

.button {
    border: 1px solid #9b9b9b;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 500;
    padding: 3px 10px;
}

.button:hover {
    border-bottom: 2px solid black;
    color: black;
}

.underline {
    border-bottom: 1px solid #505050;
    color: var(--color-text);
}

.underline:hover {
    border-bottom: var(--color-white);
}

a h1:hover {
    color: var(--color-text-a-hove);
}

@media only screen and (min-width:425px) {
    .content__blogone {
        width: 55%;
    }
}

@media only screen and (min-width:768px) {
    .content__blogone {
        width: 65%;
        max-width: 461px;
    }

    .content__blogone img {
        width: 461px;
        margin: auto;
    }
}

@media only screen and (min-width:992px) {
    .content__blogone {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 900px;
    }

    .content__blogone img {
        width: 461px;
    }

    .button {
        max-width: 50px;
        height: 25px;
        font-size: 12px;
        font-weight: 500;
    }

    .button a {
        padding: 5px 20px;
    }
}

@media only screen and (min-width:1440px) {
    .content__blogone {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 950px;
    }

    .img__blogone {
        border-radius: 10px;
    }

    .button {
        max-width: 50px;
        font-size: 12px;
        font-weight: 500;
    }

    .button a {
        padding: 5px 20px;
    }
}



/* start inputs blogone*/
.input__blogone {
    height: 80%;
    width: 75%;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 30px;
}

.textarea__blogone {
    border-radius: 10px;
    width: 100%;
}

.name__blogone {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-white);
}

.email__blogone {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-white);
}

.web__blogone {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid var(--color-white);
}

.botton__input--blogone {
    border-radius: 50px;
    background-color: var(--color-text);
    color: var(--color-white);
    padding: 10px 10px;
    font-family: "iranyekan";
    width: 100%;
    margin-bottom: 15px;
}

.botton__input--blogone:hover {
    background-color: var(--color-text-a-hove);
    cursor: pointer;
}

@media only screen and (min-width:768px) {
    .input__blogone {
        width: 85%;
    }

    .information__blogone {
        display: flex;
    }

    .name__blogone {
        width: 90%;
    }

    .email__blogone {
        width: 90%;
    }

    .web__blogone {
        width: 90%;
    }

    .botton__input--blogone {
        width: 32%;
    }
}

@media only screen and (min-width:992px) {
    .input__blogone {
        width: 91%;
    }

    .information__blogone {
        display: flex;
        gap: 3px;
    }

    .information__blogone input {
        width: 245px;
        border-radius: 10px;
    }

    .name__blogone {
        width: 100%;
    }

    .email__blogone {
        width: 100%;
    }

    .web__blogone {
        width: 100%;
    }

    .botton__input--blogone {
        width: 20%;
    }
}

@media only screen and (min-width:1024px) {
    .botton__input--blogone {
        width: 20%;
    }
}

@media only screen and (min-width:1440px) {
    .input__blogone {
        width: 93%;
    }

    .information__blogone {
        display: flex;
    }

    .name__blogone {
        width: 100%;
    }

    .email__blogone {
        width: 100%;
    }

    .web__blogone {
        width: 100%;
    }

    .botton__input--blogone {
        width: 20%;
    }
}

.footer_down {
    background: url(/assets/img/index/footer.png) #2d2d2d no-repeat;
    background-position-x: 139%;
    background-position-y: 18%;
    margin-top: 20px;
    width: 100%;
    height: 120px;
    background-size: 40%;
    z-index: -1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 0.5rem;


}

.footer p {
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text);
    text-align: justify;
}



.logo_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.fa {
    color: var(--color-text);
}

.copy-right {
    color: var(--color-text);
    font-size: 1.2rem;
    line-height: 1.6153846154;
}

.footer_down.logo {
    width: 27%;
    height: 39%;
}


.icon__footer {
    display: flex;
    gap: 2rem;
}

.footer_down .logo {
    height: 45px;
    width: 100px;
}

@media screen and (min-width: 320px) {
    .footer_down {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    .footer_down {
        height: 220px;
        bottom: 0;
    }

}

@media screen and (min-width: 1024px) {
    .footer_down {
        display: flex;
        flex-direction: row;
        column-gap: 5px;
        width: 100%;
        justify-content: space-around;
        height: 200px;
    }

    .footer_left {
        max-width: 450px;
    }
}

.icon a {
    color: var(--color-more__information);
}

.contant a {

    color: var(--color-more__information);
}

.item a {
    color: var(--color-more__information);
}