@font-face {
    font-family: 'iranyekan';
    src: url('../font/Yekan.ttf') format("ttf");
    src: url('../font/Yekan.svg') format("svg"),
        url('../font/Yekan.woff2') format("woff2"),
        url('../font/Yekan.woff') format("woff"),
        url('../font/Yekan.eot') format("eot");
}
:root{
    --color-more__information:darkgrey;
    --color-text:#505050;
    --color-text-a-hove:rgba(16, 94, 114, 0.8);
}
/* work sorosh start*/
/* .blog{
    display: flex;
    justify-content: start;
}  */
.container__blog{
    font-family: "iranyekan"; 
    margin: auto;
    color:var(--color-text);
    max-width: 270px;
}
.img__margin{
    width: 270px;
    height: 270px;  
    border-radius: 8px;  
}
h1{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
}
a{
    text-decoration: none;
    color:var(--color-text);
}
h1 a:hover{
    color:var(--color-text-a-hove);
}
h2{
    font-size: 20px;
    font-weight: 200;
}
.text__blog{
    line-height: 1.75;
    font-size: 16px;
    font-weight:300;
    color: var(--color-text);
    text-align: justify;
    max-width: 270px;
}
.more__information{
    color:var(--color-more__information);
    border-bottom: 1px solid #505050;
    font-size: 20px;
}
.more__information:hover{
    color:var(--color-text);
    border-bottom: 1px solid white;
}
.date{
    display: inline;
    padding-left: 5px;
}
.date:hover a{
    border-bottom: 1px solid var(--color-text);
    width: 50%;
}
i{
    color:lightgray;
    margin-bottom: 20px;
}
.index__blog h1{
    max-width: 270px;
}
/* work__sorosh end*/
/*cyber start*/

/*cyber end*/

@media  only screen and (min-width:768px){
    .blog{
        display: flex;
        justify-content: center;
    }
    .container__blog{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
        max-width: 60%;
        margin:0 auto;
        text-align: justify;
    }
}

@media  only screen and (min-width:992px){
    .blog{
        display: flex;
        justify-content: center;
    }
    .container__blog{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
        max-width: 60%;
        margin:0 auto;
    }
}
@media  only screen and (min-width:1440px){
    .blog{
        display: flex;
        justify-content: center;
    }
    .container__blog{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
        max-width: 60%;
    }

}
/*320 667 1024*/




/* start blogone*/

.content__blogone{
    font-family: "iranyekan";
    line-height: 1.75;
    font-size: 16px;
    font-weight:300;
    width:55%;
    max-width: 270px;
    text-align: justify;
    margin: auto;
    color: var(--color-text);
}
.content__blogone img{
    width: 270px;
    border-radius: 10px;
}
.button{  
    border: 1px solid #9b9b9b;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 500;
    padding: 3px 10px;
}
.button:hover{
    border-bottom: 2px solid black;
    color: black;
}
.underline{
    border-bottom: 1px solid #505050;
    color: var(--color-text);
}
.underline:hover{
    border-bottom: white;
}
a h1:hover{
    color: var(--color-text-a-hove);
}


@media  only screen and (min-width:768px){
    .content__blogone{
        width: 65%;
        max-width: 461px;
    }
    .content__blogone img{
        width: 461px;
        margin: auto;
    } 
}
@media  only screen and (min-width:992px){
    .content__blogone{
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 900px;
    }
    .content__blogone img{
        width: 461px;
    }
    .button{
        max-width: 50px;
        height: 25px;
        font-size: 12px;
        font-weight: 500;
    }
    .button a{
        padding: 5px 20px;
    }
}
@media  only screen and (min-width:1440px){
    .content__blogone{
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 950px;
    }
    .img__blogone{
        border-radius: 10px;
    }
    .button{
        max-width: 50px;
        font-size: 12px;
        font-weight: 500;
    }
    .button a{
        padding: 5px 20px;
    }
}



/* start inputs blogone*/
.input__blogone{
    height: 80%;
    width: 75%;
    background-color:#f8f8f8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 30px;
}
.textarea__blogone{
    border-radius: 10px;
    width: 100%;
}
.name__blogone{
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
}
.email__blogone{
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;    
}
.web__blogone{
    width: 100%;
    border-radius: 5px;
    margin-bottom:20px ;
    border: 1px solid white;
}
.botton__input--blogone{
    border-radius: 50px;
    background-color: var(--color-text);
    color: white;
    padding: 10px 10px;
}
.botton__input--blogone:hover{
    background-color:var(--color-text-a-hove) ;
    cursor: pointer;
}
@media  only screen and (min-width:768px){
    .input__blogone{
        width: 85%;
    }
    .information__blogone{
        display: flex;
    }
    .name__blogone{
        width: 90%;
    }
    .email__blogone{
        width: 90%;
    }
    .web__blogone{
        width: 90%;
    }
}
@media  only screen and (min-width:992px){
    .input__blogone{
        width: 91%;
    }
    .information__blogone{
        display: flex;
        justify-content: space-between;
    }
    .name__blogone{
        width: 100%;
    }
    .email__blogone{
        width: 100%;
    }
    .web__blogone{
        width: 100%;
    }
}
@media  only screen and (min-width:1440px){
    .input__blogone{
        width: 93%;
    }
    .information__blogone{
        display: flex;
        justify-content: space-between;
    }
    .name__blogone{
        width: 100%;
    }
    .email__blogone{
        width: 100%;
    }
    .web__blogone{
        width: 100%;
    }    
}
