
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    /* display: flex;
    flex-direction: column; */
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    

}


.img-header{
    width: 18%;
    height: 15%;
    justify-content: center;
   
    
   
 }
.text-header{
    font-size: 37.5 px;
    
}


.side{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;
}

.side1{
    box-sizing: content-box;
    background: #7a60ff;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 50px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;

    flex-direction: row;
    
    /* ????? */

     border-radius: 10px;
     /* margin-right: 920px; */
} 

.side1-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side2{
    display: flex;
    justify-content:flex-start ;
    flex-direction: row;

    /* هر چیو میزنی نمیگیره */
}

.side2-button{
    background: #7a60ff;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    border-radius: 10px;
    height: 50px;
    width: 200px;
}
.row{
    display: flex;
}

.col input{
    font-size: 15px;
    line-height: 24px;
    border-radius: 20px;
    border: 1px solid #E4E4E4;
    height: 42px;
    width: 203.328px;
}
input{
    font-size: 15px;
    line-height: 24px;
    border-radius: 20px;
    background-color: white;
    height: 42px;
    width: 436.656px;
    border: 1px solid #E4E4E4;
    padding: 15px;
}

textarea{
    font-size: 15px;
    line-height: 24px;
    height: 150px;
    width: 436.656px;
    border:1px solid #E4E4E4;
    margin: 15px;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
   
}

.padding1{
    justify-content: center;
    font: 15px;
    line-height: 24px;
    border-radius: 20px;
    height: 45px;
    width: 166.125px;
    padding: 11px 30px 11px 30px;
    background: linear-gradient(to left,rgb(124,124,124),#7C7C7C);
    text-align: center;
    color: white;
    min-height: auto;
    min-width: auto;
}

.text-footer{
   
}

.padding2{
    height: 45px;
    width: 166.125px;
    background: linear-gradient(to left,rgb(124,124,124),#7C7C7C);
    color: white;
    min-height: auto;
    min-width: auto;
    padding: 11px 30px 11px 30px;
    justify-content: center;
    font: 15px;
    line-height: 24px;
    border-radius: 20px;
}
.padding3{
    height: 45px;
    width: 166.125px;
    background: linear-gradient(to left,rgb(124,124,124),#7C7C7C);
    color: white;
    min-height: auto;
    min-width: auto;
    padding: 11px 30px 11px 30px;
    justify-content: center;
    font: 15px;
    line-height: 24px;
    border-radius: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.flex-footer{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: center;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  } 