* {
    box-sizing: border-box;
}

:root {
    font-family: "iranyekan";
    direction: rtl;
    --color-pink: rgb(180, 148, 209);
    --text-gray: #a7a7a7;
    --color_white: #fff;
    --color-text: #333;
}

.item_header_pc a:hover,
.burger_menu a:hover {
    color: var(--color-pink);
}

.selected {
    color: blueviolet;
}

/* begin header */
.d-none {
    display: none;
}

.fa-bars {
    color: var(--color-pink);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_container {
    width: 80%;
    height: 100px;
    margin: 2rem;

}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

/* end header */

/* header_mobile */
.header_mobile {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background:
        /* Shadow covers */
        linear-gradient(var(--cover-color) var(--cover-fade), rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--cover-color) calc(100% - var(--cover-fade)))20 100%,
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, var(--shadow-intensity)), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, var(--shadow-intensity)), rgba(0, 0, 0, 0)) 20 100%;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    background-size: 100% var(--cover-size), 100% var(--cover-size), 100% var(--shadow-size), 100% var(--shadow-size);
    background-attachment: local, local, scroll, scroll;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .header_mobile {
        display: none;
    }
}

/* end header_mobile */

/* begin header_pc */


@media screen and (min-width: 320px) {
    .header-pc {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-pc {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header-pc {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        height: 50px;
        background:
            /* Shadow covers */
            linear-gradient(var(--cover-color) var(--cover-fade), rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--cover-color) calc(100% - var(--cover-fade)))20 100%,
            /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, var(--shadow-intensity)), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, var(--shadow-intensity)), rgba(0, 0, 0, 0)) 20 100%;
        background-repeat: no-repeat;
        background-color: #f9f9f9;
        background-size: 100% var(--cover-size), 100% var(--cover-size), 100% var(--shadow-size), 100% var(--shadow-size);
        background-attachment: local, local, scroll, scroll;

    }

    .item_header_pc {
        display: flex;
        column-gap: 4rem;
        color: var(--text-gray);
        font-size: medium;
    }
}

/* begin burger_menu */
.burger_menu {
    margin-top: 2rem;
    width: 90%;
    color: var(--text-gray);
    line-height: 1.3125;
    font-size: medium;
}

.burger_menu.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 320px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .burger_menu {
        display: none;
    }
}


/* end burger_menu */








.footer-container {
    background-color: var(--color_white);
    padding-bottom: 75px;
}

.second-description-footer {
    text-align: center;
    font-size: 17px;
}

.section-title-footer {
    text-align: center;
    display: block;
}

.blog-box-right {
    padding: 7px;
}

.description-blog-box-right {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--color_white);
    display: block;
}

.text-uppercase-blog-box-right {
    font-size: 17px;
    padding-right: 0.6rem;
}

.font-small-blog-box-right {
    padding: 0.6rem;
    font-size: 14px;
}

.author-blog-box-right {
    display: flex;
    justify-content: flex-end;
    padding-left: 0.6rem;
    font-size: 15px;
}

.image-blog-box-right {
    max-width: 100%;
    ;
    border-radius: 5px 5px 0px 0px;
}

.description-blog-box-center {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--color_white);
}

.image-blog-box-center {
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.text-uppercase-blog-box-center {
    font-size: 17px;
    padding-right: 0.6rem;
}

.font-small-blog-box-center {
    padding: 0.6rem;
    font-size: 14px;
    max-width: 100%;
}

.author-blog-box-center {
    display: flex;
    justify-content: flex-end;
    padding-left: 0.6rem;
    font-size: 15px;
}

.blog-box-center {
    padding: 7px;
}

@media screen and (min-width:320px) {
    .nav-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-ul-footer {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: center;
        gap: 0.75rem;
    }

    .text-last-footer {
        display: flex;

        justify-content: center;
        padding-right: 2rem;

    }
}

@media screen and (min-width:768px) {

    .footer-container {
        display: flex;
        padding: 4.68rem 6.25rem;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

    }

    .text-center-footer {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .head-container {
        position: fixed;
        margin-top: 2.5rem;
        padding: 2.81rem 6.25rem 0px 6.25rem;
    }

    .menuebar-item {
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    .menuebar-collapse-icon {
        display: none;
    }

    .nav-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-ul-footer {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        gap: 0.75rem;
    }

}

@media screen and (min-width:1200px) {
    .footer-container {
        padding: 4.68rem 13rem;
    }
}

.image-blog-box-left {
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.author-blog-box-left {
    padding-left: 0.6rem;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.text-uppercase-blog-box-left {
    font-size: 17px;
    padding-right: 0.6rem;
}

.font-small-blog-box-left {
    padding: 0.6rem;
    font-size: 14px;
    /* max-width: 100%; */
}

.text-blog-box-right {
    text-decoration: none;
    color: var(--color-text);
}

.text-blog-box-left {
    text-decoration: none;
    color: var(--color-text);
}

.text-blog-box-center {
    text-decoration: none;
    color: var(--color-text);
}

.description-blog-box-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--color_white);
}

.blog-box-left {
    padding: 7px;
}

.subscribe-section {
    background-color: var(--text-gray);
    width: 100%;
    height: 350.4px;
    padding-top: 75px;
    position: relative;
    display: block;
}

.text-section-subscribe {
    text-align: center;
    color: var(--color_white);
}

.text-center-footer {
    display: block;
    text-align: center;

}

.text-center-footer a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 12px;
    font-weight: 300;

}

@keyframes bounce {
    30% {
        -webkit-transform: translateY(-10px);
    }
}

.blog-box-right:hover {
    animation: bounce 2s;
}

.blog-box-left:hover {
    animation: bounce 2s;
}

.blog-box-center:hover {
    animation: bounce 2s;
}

footer {
    margin-top: 75px;
    background-color: var(--color_white);
}

.fa-brands fa-twitter {
    width: 200px;
}

.message-subscribe {
    color: var(--color_white);
}

.instagram-subscribe {
    color: var(--color_white);
}

.twitter-subscribe {
    color: var(--color_white);
}

.aparat-subscribe {
    color: var(--color_white);
    height: 64px;
    width: 64px;
}

.subcribe-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.section-miani-footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.nav-ul-footer a {
    text-decoration: none;
    color: var(--color-text);
}

.text-last-footer {
    /* padding-right: 5rem; */
    display: flex;
    color: var(--color-text);
}

.text-last-footer a {
    text-decoration: none;
    color: var(--color-texts);
}